//== Colors
//
//## Brand and customised colours of fitio

// fitio primary brand colour
$fitio-color: #289EBE;

// Success background colour
$bg-success: #6FBC6D;

// Override Bootstrap default variable color
$input-color-placeholder: #eee;

//== Scaffolding
//
//##

// Minimum height of main container in order to scroll the contents
$min-height: 480px;